#fundheader {
    color: #00529B;
    text-align: center;
    padding-left: 18vw;
    font-size: 25px;
    margin-top: 5vh;
}

.funds {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two boxes per row */
    gap: 40px; /* Spacing between boxes */
    padding: 5px;
    margin-left: 44vh;
    margin-bottom: 20px; /* Ensures space between resources and button */
    box-sizing: border-box;
}

.nofunds {
    text-align: center; 
    padding-left: 20vw; 
}

.createfund {
    width: 50vw;
    height: 20vw;
    margin: auto auto;
    margin-bottom: 5%;
    border-radius: 8px;
    margin-left: 35vw;
}

.fundentries {
    grid-template-rows: auto auto auto;
    display: grid;
    justify-content: center;
    background-color: #00529B;
    width: 100%;
}

#newfundname, #newfunddesc, #newfunddate, #newfundtime {
    background-color: #57A1F8;
    color: white;
    width: 30vw;
    margin: 5px;
    font-family: "Lexend Deca";
    border-radius: 4px;
}

#newfundname::placeholder, #newfunddesc::placeholder, #newfunddate::placeholder, #newfundtime::placeholder {
    color: white;
}

#createhead {
    text-align: center;
    color: white;
    padding-top: 5%;
}

.fundsubmit {
    display: flex;
    justify-content: center;
}

#fundsubmit {
    background-color: #57A1F8;
    border: #447fc2;
    color: white;
    width: 10vw;
    margin-top: 5%;
    font-family: "Lexend Deca";
    border-radius: 4px;
}

#fundsubmit:active {
    background-color: #447fc2;
    border: #2c527c;
    border-style: inset;
}

#fundsubmit:hover {
    background-color: #70b1fb;
    border: #57A1F8;
}