#statusDropdown {
    padding: 5px;
}

#downloadBtn {
    padding: 7px;
    border: solid;
    border-width: 1px;
    cursor: pointer;
    background-color: white;
    color: black;
}

#statusDropdown, #downloadBtn {
    border-radius: 10px;
}