.todo-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
    justify-content: flex-end;
}

.todo-item-content {
    display: flex;
    align-items: center;
}

.todo-item h2 {
    margin-right: 10px;
}

#statusDropdown {
    padding: 5px;
    border-radius: 10px;
}

#downloadBtn {
    padding: 7px;
    border: solid 1px;
    cursor: pointer;
    background-color: #00529B;
    border-color: #00529B;
    color: white;
    border-radius: 10px;
}

#nodownloadBtn {
    padding: 7px;
    border: solid 1px;
    background-color: grey;
    border-color: grey;
    color: white;
    border-radius: 10px;
}
