#detailname {
    color: #F5585E;
    padding-top: 8vh;
}

#detailemail {
    color: #FFC511;
}

#detailclass {
    color: #00984D;
}

#detailname, #detailemail, #detailclass {
    margin-top: 1vh;
}

.partdetailcontainer {
    grid-template-columns: auto;
    margin-left: 25vw;
    display: grid;
    padding: 5px;
}

.partevents {
    background-color: #E3E8F1;
    padding: 5px;
    margin-top: 1vh;
    margin-bottom: 3vh;
    padding-left: 1vw;
    border-radius: 10px;
    width: 20vw;
    /* height: 15vh; */
}

#parteventhead {
    margin-top: 0px;
}

#pickrole {
    font-family: "Lexend Deca";
    font-weight: bold;
}

#updatebtn {
    background-color: #00984D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 1vw;
}

.roleselect {
    margin-left: 1vw;
    font-family: "Lexend Deca";
}