.events-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Always 3 cards per row */
    gap: 28px;
    max-width: 80%;
    margin: 16px auto;
    margin-left: 1px;
}

.event-card {
    width: 100%; /* Ensures each card takes full width of its grid cell */
    max-width: 200px; /* Adjust as needed */
}

.btns-h-align {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.add-event-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.add-event-container .button-container {
    display: flex;
    flex-direction: row; /* Align items horizontally */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    gap: 0px; /* Add spacing between the button and <CreateEvent /> */
}

.add-event-container button {
    width: 200px;
    padding: 10px;
    background-color: #E3E8F1;
    color: #6786A3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-event-container h1 {
    margin-bottom: 20px;
}

#submit-btn {
    background-color: #00529B;
    color: white;
}

#roleplay, #binder {
    width: 250px;
}

#main {
    width: 60vw;
    height: 1vh;
    display: flex;
    align-items: center;
  }
  
h1 {
    margin: 0;
}
  
#ahh {
    width: 1vw;
    height: 1vh;
    background-color: transparent;
}

#eventimage {
    width: 3vw;
    height: 6vh;
}