.personalinfocontainer {
    background-color: #E3E8F1;
    margin-top: 10vh;
    margin-bottom: 3vh;
    margin-left: 18vw;
    padding-left: 1vw;
    padding-bottom: 1vh;
    padding-top: 1px;
    border-radius: 10px;
    width: 20vw;
}

#personaldetailsheader {
    margin-top: 1vh;
    margin-bottom: 1vh;
}