.announcement-card {
    background-color: white; /* Ensures text is visible */
    color: black; /* Makes sure text is readable */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Adds space between each card */

}


button.view-requesters-btn {
    background-color: #6786A3;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}

.align-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    background-color: #6786A3;
    color: white;
    border-radius: 5px;
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}