.comment {
    font-size: 20px;
    color: black;
}

.saveStatuses{
    cursor: pointer;
    border-radius: 10px;
    background-color: #00529B;
    padding: 10px;
    color: white;
    border: solid;
    align-self: "center"
}

.todo-list-div {
    background-color: "#E3E8F1";
    border-radius: "20px";
    padding: "30px";
    display: "flex";
    flex-direction: "column";
    justify-content: "space-between";
    height: "100%";
}

.comment-div {
    background-color: "#E3E8F1";
    border-radius: "20px";
    padding: "30px";
}