.resources-page {
  background-color: #f5f5f5;
  min-height: 100vh;
  
}
  
.resources-page h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
  
.resources-header {
  color: #00529B;
  margin: auto auto;
  margin-top: 5vh;
  margin-bottom: 85px;
  padding-left: 20vw;
  font-size: 35px;
  position: relative; /* Ensures it stacks properly */
  z-index: 10;
}

