.resources-page {
  min-height: 100vh;
  
}
  
.resources-page h1 {
  font-size: 32px;
  margin-bottom: 16px;
}
  
#resources-header {
  color: #00529B;
  text-align: center;
  padding-left: 18vw;
  font-size: 35px;
  margin-top: 5vh;
}