.resources-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two boxes per row */
    gap: 40px; /* Spacing between boxes */
    padding: 5px;
    margin-left: 44vh;
    margin-bottom: 20px; /* Ensures space between resources and button */
    box-sizing: border-box;
  }
  
  .resource-box {
    background-color: #00529B;
    color: white;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: 20vh;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .resource-text {
    font-size: 30px;
    padding: 10px;
    margin: 0;
  }
  
  .resource-buttons {
    display: flex;
    padding: 25px 10px;
    gap: 16px;
  }
  
  .resource-button {
    background-color: white;
    color: #00529B;
    text-decoration: none;
    padding: 6px 12px;
    border: 1px solid white;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
  }
  
  .resource-button:hover {
    background-color: #003563;
    color: white;
  }
  
  .center-button-container {
    display: flex;
    justify-content: center;
    margin-left: 43vh;
    margin-top: 20px; /* Ensures spacing between the resources and button */
  }
  
  .center-button {
    background-color: #F5585E;
    color: white;
    text-decoration: none;
    padding: 10px 32px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .center-button:hover {
    background-color: #f1474c;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .popup-content h2 {
    margin-top: 0;
  }
  
  .popup-content label {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 16px;
  }
  
  .popup-buttons {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }
  
  .popup-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .popup-buttons button:first-of-type {
    background-color: #4caf50;
    color: white;
  }
  
  .popup-buttons button:last-of-type {
    background-color: #f44336;
    color: white;
  }
  