.export {
    display: grid;
    justify-content: center;
    /* background-color: #8EA1B3; */
    background-color: #E3E8F1;
    width: 20vw;
    height: 10vw;
    margin-left: 20vw;
    padding-top: 10px;
    border-radius: 10px;
    margin-top: 5vh;
    align-items: center;
}

#exporthead {
    margin-top: 0px;
    padding-top: 0px;
    color: white;
}

.exportbuttons {
    grid-template-columns: auto auto auto;
    display: flex;
}

#adminaccess {
    text-align: center;
}

#pdf {
    background-color: #F5585E;
    border: #F5585E;
}

#jpeg, #viewunapproved {
    background-color: #00529B;
    border: #00529B;
    color: white;
    width: 8vw;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding-right: 5;
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 1vh;
    height: 5vh;
    margin: 1vw;

}

#png {
    background-color: #00984D;
    border: #00984D;
}

#jpeg:hover, #viewunapproved:hover {
    background-color: #136ebd;
    /* transform: scale(1.05); */
}

/* Active Effect */
#jpeg:active {
    transform: scale(0.98);
    background-color: #E6B800;
}

#switchlabel {
    padding-right: 10%;
    color: white;
}

.switchcont {
    height:fit-content;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/*Slider*/
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #21005D;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}