/* .create-event-container .center-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.create-event-container .center-button {
  background-color: #F5585E;
  color: white;
  text-decoration: none;
  padding: 10px 32px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-event-container .center-button:hover {
  background-color: #f1474c;
}

.create-event-container .popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-event-container .popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.create-event-container .popup-content h2 {
  margin-top: 0;
}

.create-event-container .popup-content label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 16px;
}

.create-event-container .popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.create-event-container .popup-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.create-event-container .popup-buttons button:first-of-type {
  background-color: #4caf50;
  color: white;
}

.create-event-container .popup-buttons button:last-of-type {
  background-color: #f44336;
  color: white;
}
